@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 160 29% 95%;
    --foreground: 156 20% 15%;
    --card: 160 29% 98%;
    --card-foreground: 156 20% 15%;
    --popover: 160 29% 98%;
    --popover-foreground: 156 20% 15%;
    --primary: 156 25% 48%;
    --primary-foreground: 0 0% 100%;
    --secondary: 160 20% 88%;
    --secondary-foreground: 156 20% 15%;
    --muted: 160 20% 90%;
    --muted-foreground: 156 15% 40%;
    --accent: 52 73% 71%;
    --accent-foreground: 52 50% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 160 20% 85%;
    --input: 160 20% 88%;
    --ring: 156 25% 48%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 156 10% 10%;
    --foreground: 160 20% 90%;
    --card: 156 10% 12%;
    --card-foreground: 160 20% 90%;
    --popover: 156 10% 10%;
    --popover-foreground: 160 20% 90%;
    --primary: 156 25% 58%;
    --primary-foreground: 156 20% 10%;
    --secondary: 156 10% 20%;
    --secondary-foreground: 160 20% 90%;
    --muted: 156 10% 20%;
    --muted-foreground: 160 15% 60%;
    --accent: 52 73% 71%;
    --accent-foreground: 52 50% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 156 10% 20%;
    --input: 156 10% 20%;
    --ring: 156 25% 58%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
